services:
  db:
    image: postgres:17
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - nihongo-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=nihongo
      - POSTGRES_USER=nihongo
      - POSTGRES_PASSWORD=nihongo

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    environment:
      - ADMINER_DEFAULT_SERVER=db
    depends_on:
      - db

  aplikasi:
    build: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  nihongo-data:
